/*from A to Z*/
#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*from A to Z*/
a {
  color: var(--black);
  text-decoration: none;
}

.col-2 {
    width: calc(50% - 20px);
}

.col-3 {
    width: calc(100% / 3 - 80px / 3);
}
.col-4 {
    width: calc(25% - 30px);
}

.flex {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.noLS {
    list-style: none;
}

.wrapper {
    width: 1530px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

@media screen and (max-width: 1280px) {
    .col-4 {
        width: calc(50% - 20px);
    }

    .wrapper {
        width: 960px;
    }
}

@media screen and (max-width: 980px) {
    .flex {
        gap: 20px;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .wrapper {
        width: 85%;
        padding: 0 7.5%;
    }
}
