@import url('https://fonts.googleapis.com/css3?family=Montserrat&display=swap');
* {
    font-display: swap;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

body {
    width: 100%;
}

.wrapper {
    width: 1530px;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 1600px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}
@media screen and (max-width: 1280px) {
    .wrapper {
        width: 960px;
    }
}
@media screen and (max-width: 980px) {
    .wrapper {
        width: 85%;
        padding: 0 7.5%;
    }
}