@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-display: swap;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

html,
body,
#root,
.App {
    height: 100%;
}

/*from A to Z*/
.App {
    display: flex;
    flex-direction: column;
}

.col-4 {
    width: calc(25% - 30px);
}

.flex {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.noLS {
    list-style: none;
}

.wrapper {
    width: 1530px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

@media screen and (max-width: 1280px) {
    .col-4 {
        width: calc(50% - 20px);
    }

    .wrapper {
        width: 960px;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        width: 85%;
        padding: 0 7.5%;
    }

    .col-4 {
        width: 100%;
    }
}